# MongoDB Atlas (ali drug Mongo URI)
DATABASE_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbName>

# JWT podpisni ključ
JWT_SECRET=change-me-to-something-secret

# Vrata na katerih posluša API
PORT=3000

# development | production
NODE_ENV=development
